<%- include("includes/header"); %>

<div class="container">

    <h3>Adicionar Usuário</h3>
    <hr>

    <% if (typeof error != "undefined") { %>
    <div class="alert alert-danger" role="alert">
        <%= error.message %>
    </div>
    <% } %>

    <form method="POST" action="/users/save">
        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <!-- Limpa os campos, usa old.name se houver erro -->
          <input type="text" class="form-control" id="name" name="name" value="<%= old && old.name ? old.name : '' %>" autofocus>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <!-- Limpa os campos, usa old.email se houver erro -->
          <input class="form-control" id="email" name="email" value="<%= old && old.email ? old.email : '' %>">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3">
          <label for="password_confirmation" class="form-label">Confirmar Senha</label>
          <input type="password" class="form-control" id="password_confirmation" name="password_confirmation">
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/users" class="btn btn-secondary">Cancelar</a>
    </form>

</div>

<%- include("includes/footer"); %>